<template>
    <div style="padding: 20px;">
        <div style="padding: 20px;" v-if="!is_load && form.id == ''">
            <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="PolarisTextField2Label" for="form_token" class="Polaris-Label__Text">Your Token:</label></div>
            </div>
            <div class="Polaris-Connected">
                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                    <div class="Polaris-TextField Polaris-TextField--hasValue">
                        <input id="form_token" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField2Label" aria-invalid="false" aria-multiline="false" v-model="form.token" placeholder="Enter your token">
                        <div class="Polaris-TextField__Backdrop"></div>
                    </div>
                    <div class="Polaris-Labelled__Error" v-if="error">
                        <div id="PolarisTextField4Errorkey" class="Polaris-InlineError">
                            <div class="Polaris-InlineError__Icon">
                                <span class="Polaris-Icon">
                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                        <path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zm-1-8h2V6H9v4zm0 4h2v-2H9v2z" fill-rule="evenodd">
                                        </path>
                                    </svg>
                                </span>
                            </div>
                            <p>Required</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="Polaris-Labelled__HelpText" id="PolarisTextField8HelpText">NB! - Do not share this API key. This is for direct communication between Social Oracle and this website and not the public tracking code.</div>-->
            <div class="form-save-btn">
                <button type="button" class="Polaris-Button Polaris-Button--primary" :class="{'Polaris-Button--disabled' : ( is_disabled )}" @click="sendForm()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span></button>
            </div>
        </div>
        <div style="padding: 20px;" class="Polaris-Card" v-if="!is_load && form.id != ''">
            <webhook-list></webhook-list>
        </div>
    </div>
</template>

<script>
import helper from '../../helper';
import WebhookList from "./WebhookList";
export default {
    components:{
        WebhookList,
    },
    data(){
        return{
            error: false,
            is_load: true,
            form: {
                id: '',
                token: '',
            },
            temp_prisine: '',
            is_disabled: true,
        }
    },
    methods: {
        async getData() {
            let base = this;
            base.is_load = true;
            helper.startLoading();
            await axios.get('dashboard')
                .then(function (res) {
                    base.form = res.data.data;
                }).catch(function (err) {
                    helper.errorToast(err.response.data);
                }).finally(res => {
                    base.is_load = false;
                    helper.stopLoading();
                });
        },
        async sendForm(){
            let base = this;
            helper.startLoading();

            if( base.form.token == '' ){
                base.error = true
            }else{
                base.is_disabled = true;
                await axios({
                    url: 'dashboard',
                    data: {
                        'data': base.form,
                    },
                    method: 'post',
                }).then(function (res) {
                    let msg = res.data.data;
                    helper.successToast(msg);
                    base.getData();
                }).catch(function (err) {
                    helper.errorToast(err.response.data.data);
                }).finally(res => {
                    helper.stopLoading();
                    base.error = false;
                });
            }
        },
    },
    created() {
        this.getData();
    },
    watch: {
        form: {
            immediate: true,
            deep: true,
            handler: function () {
                if (_.isEqual(this.temp_prisine, JSON.stringify(this.form))) {
                    this.is_disabled = true;
                } else {
                    this.is_disabled = false;
                }
            }
        }
    },
}
</script>
