<template>
    <div class="" style="padding: 20px;">
        <div class="Polaris-Card" style="padding: 20px;">

<!--            tags field-->
            <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="PolarisTextField2Label" class="Polaris-Label__Text" style="font-weight: 600;">Tags Order fields:</label></div>
            </div>
            <div v-for="(item, index, i) in form.tags">
                <label class="Polaris-Choice" :for="`OrderCheckbox` + index">
                <span class="Polaris-Choice__Control">
                    <span class="Polaris-Checkbox">
                        <input :id="`OrderCheckbox` + index" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" v-model="form[index]">
                        <span class="Polaris-Checkbox__Backdrop"></span>
                        <span class="Polaris-Checkbox__Icon">
                            <span class="Polaris-Icon">
                                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                    <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                </svg>
                            </span>
                        </span>
                    </span>
                </span>
                    <span class="Polaris-Choice__Label text-capitalize">{{index | format_string}}</span>
                </label>
            </div>

<!--            custom map fields-->
            <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="custom_map" class="Polaris-Label__Text" style="font-weight: 600;">Custom map Order fields:</label></div>
            </div>
            <div v-for="(item, index) in form.custom_map" class="Polaris-FormLayout__Items custom-map-class">
                <div class="Polaris-FormLayout__Item">
                    <div class="">
                        <div class="Polaris-Labelled__LabelWrapper">
                            <div class="Polaris-Label"><label id="PolarisTextField13Label" for="PolarisTextField13" class="Polaris-Label__Text">Key</label></div>
                        </div>
                        <div class="Polaris-Connected">
                            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                <div class="Polaris-TextField">
                                    <input id="PolarisTextField13" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField13Label" aria-invalid="false" aria-multiline="false" v-model="item.key">
                                    <div class="Polaris-TextField__Backdrop"></div>
                                </div>
                                <error-msg v-if="errors['data.custom_map.' + index + '.key']" msg="Required"></error-msg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Polaris-FormLayout__Item">
                    <div class="">
                        <div class="Polaris-Labelled__LabelWrapper">
                            <div class="Polaris-Label"><label id="PolarisSelect2Label" for="PolarisSelect2" class="Polaris-Label__Text">Order Options</label></div>
                        </div>
                        <div class="Polaris-Select">
                            <select id="PolarisSelect2" class="Polaris-Select__Input" aria-invalid="false" v-model="item.option">
                                <option v-for="(cmoption, oindex) in custom_maps_options" :value="cmoption" class="text-capitalize">{{cmoption | format_string}}</option>
                            </select>
                            <div class="Polaris-Select__Content" aria-hidden="true">
                                <span class="Polaris-Select__SelectedOption text-capitalize">{{item.option | format_string}}</span>
                                <span class="Polaris-Select__Icon">
                                 <span class="Polaris-Icon">
                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                       <path d="M10 16l-4-4h8l-4 4zm0-12l4 4H6l4-4z"></path>
                                    </svg>
                                 </span>
                              </span>
                            </div>
                            <div class="Polaris-Select__Backdrop"></div>
                        </div>
                    </div>
                </div>
                <div class="Polaris-FormLayout__Item custom-map-check d-flex">
                    <label class="Polaris-Choice" :for="`PolarisCheckbox2` + index">
                      <span class="Polaris-Choice__Control">
                         <span class="Polaris-Checkbox">
                            <input :id="`PolarisCheckbox2` + index" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" v-model="item.is_checked"><span class="Polaris-Checkbox__Backdrop"></span>
                            <span class="Polaris-Checkbox__Icon">
                               <span class="Polaris-Icon">
                                  <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                     <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                  </svg>
                               </span>
                            </span>
                         </span>
                      </span>
                    </label>
                    <span v-if="index == 0" class="Polaris-Icon Polaris-Icon--hasBackdrop add-time-dropdown ml-3 add-icon" aria-label="" @click="CustomMap('add', index)"><svg class="Polaris-Icon__Svg" viewBox="0 0 55 55"><path
                        d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M38.5,28H28v11c0,1.104-0.896,2-2,2  s-2-0.896-2-2V28H13.5c-1.104,0-2-0.896-2-2s0.896-2,2-2H24V14c0-1.104,0.896-2,2-2s2,0.896,2,2v10h10.5c1.104,0,2,0.896,2,2  S39.604,28,38.5,28z"
                        fill="#6C7BCF"
                        fill-rule="evenodd"></path></svg></span>
                    <span v-else class="Polaris-Icon Polaris-Icon--hasBackdrop ml-3 add-icon" @click="CustomMap('remove', index)"><svg
                        class="Polaris-Icon__Svg" viewBox="0 0 55 55"><path
                        d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M38.5,28h-25c-1.104,0-2-0.896-2-2  s0.896-2,2-2h25c1.104,0,2,0.896,2,2S39.604,28,38.5,28z"
                        fill="#ff0000" fill-rule="evenodd"></path></svg></span>
                </div>
            </div>
<!--            save btn-->
            <div class="form-save-btn">
                <button type="button" class="Polaris-Button Polaris-Button--primary" @click="sendForm()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span></button>
            </div>
        </div>
    </div>
</template>

<script>
import helper from "../../helper";
import ErrorMsg from "../shopify/ErrorMsg";
export default {
    components:{
        ErrorMsg
    },
    name: "Settings",
    data(){
        return {
            errors: [],
            orderFields:[
                { label: 'Email', value: 'email' },
                { label: 'Name', value: 'name' },
                { label: 'Phone', value: 'phone' },
                { label: 'Total Price', value: 'total_price' },
                { label: 'Currency', value: 'currency' },
                { label: 'Order Number', value: 'order_number' },
                { label: 'Contact Email', value: 'contact_email' },
            ],
            form:{
                tags: [],
                custom_map: []
            },
            custom_maps_options: ['id', 'email', 'created_at', 'number', 'token', 'gateway', 'test', 'total_price', 'subtotal_price', 'total_weight', 'total_tax', 'taxes_included', 'currency', 'financial_status', 'confirmed', 'total_discounts', 'total_line_items_price', 'cart_token', 'buyer_accepts_marketing', 'name', 'total_price_usd', 'checkout_token', 'customer_locale', 'phone', 'browser_ip','selected_options', 'order_number', 'processing_method', 'source_name', 'fulfillment_status', 'contact_email', 'order_status_url', 'presentment_currency', 'billing_address', 'shipping_address', 'client_details', 'payment_details'],
        }
    },
    methods:{
        async getSetting(){
            let base = this;
            helper.startLoading();
            await axios.get('setting')
                .then(function (res) {
                    base.form = res.data.data;
                }).catch(function (err) {
                    helper.errorToast(err.response.data);
                }).finally(res => {
                    helper.stopLoading();
                });
        },
        async sendForm(){
            let base = this;
            helper.startLoading();
            await axios({
                url: 'setting',
                data: {
                    'data': base.form,
                },
                method: 'post',
            }).then(function (res) {
                let msg = res.data.data;
                base.errors = [];
                helper.successToast(msg);
                base.getSetting();
            }).catch(function (err) {
                base.errors =  err.response.data;
            }).finally(res => {
                helper.stopLoading();
            });
        },
        CustomMap(action, index){
            if ( action == 'add' ){
                let d = {
                    key: '',
                    option: 'name',
                    is_checked: false,
                }
                this.form.custom_map.push(d);
            }else{
                this.form.custom_map.splice(index, 1);
            }
        }
    },
    created() {
        this.getSetting();
    },
    filters:{
        format_string(str){
            return str.replace("_", " ");
        }
    }
}
</script>

<style scoped>

</style>
