<template>
    <div style="padding: 20px;">
        <div style="padding: 20px;" class="Polaris-Card">
            <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="PolarisTextField2Label" for="form_token" class="Polaris-Label__Text">Your Token:</label></div>
            </div>
            <div class="Polaris-Connected">
                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                    <div class="Polaris-TextField Polaris-TextField--hasValue">
                        <input id="form_token" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField2Label" aria-invalid="false" aria-multiline="false" v-model="form.token" placeholder="Enter your token">
                        <div class="Polaris-TextField__Backdrop"></div>
                    </div>
                </div>
            </div>
            <!--            <div class="Polaris-Labelled__HelpText" id="PolarisTextField8HelpText">NB! - Do not share this API key. This is for direct communication between Social Oracle and this website and not the public tracking code.</div>-->
            <div class="form-save-btn">
                <button type="button" class="Polaris-Button Polaris-Button--primary" :class="{'Polaris-Button--disabled' : ( is_disabled )}" @click="sendForm()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save</span></span></button>
            </div>
        </div>
    </div>
</template>

<script>
import helper from '../../helper';

export default {
    props: ['token'],
    data(){
        return{
            form: {
                token: this.token,
            },
            is_disabled: false,
        }
    },
    methods: {
        async sendForm(){
            let base = this;
            helper.startLoading();
            base.is_disabled = true;
            await axios({
                url: 'dashboard',
                data: {
                    'data': base.form,
                },
                method: 'post',
            }).then(function (res) {
                let msg = res.data.data.msg;
                base.$emit('update', res.data.data.token);
                helper.successToast(msg);
            }).catch(function (err) {
                helper.errorToast(err.response.data.data);
            }).finally(res => {
                base.is_disabled = false;
                helper.stopLoading();
            });
        },
    },
}
</script>
