<template>
    <div class="">
        <div class="webhook-list">
            <table class="w-100">
                <thead>
                <tr>
                    <th class="text-left">
                        <h3><span class="Polaris-TextStyle--variationStrong">Status</span></h3>
                    </th>
                    <th class="text-left">
                        <h3><span class="Polaris-TextStyle--variationStrong">Webhook</span></h3>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="Polaris-ResourceItem" v-for="(item , index) in webhook">
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop Polaris-DataTable__Cell--numeric">
                        <div class="switch-content">
                            <label class="switch">
                                <input type="checkbox" :checked="item.status" @change="changeStatus(item.id)">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="" v-if="item.topic == 'abandonedcart' && item.status" style="align-items: center;display: flex;">
                            <div class="Polaris-Labelled__LabelWrapper crontime">
                                <div class="Polaris-Label"><label id="PolarisTextField2Label" for="PolarisTextField2" class="Polaris-Label__Text">Add Abandoned order every(minute)</label></div>
                            </div>
                            <div class="Polaris-Connected crontime">
                                <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                                    <div class="Polaris-TextField Polaris-TextField--hasValue"><input id="PolarisTextField2" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField2Label" aria-invalid="false" aria-multiline="false" v-model="form.crontime">
                                        <div class="Polaris-TextField__Backdrop"></div>
                                    </div>
                                    <div id="myFieldIDError" style="font-size: 15px;" class="Polaris-InlineError" v-if="errors['data.crontime']">
                                        <div class="Polaris-InlineError__Icon"><span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                          <path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zM9 9a1 1 0 0 0 2 0V7a1 1 0 1 0-2 0v2zm0 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"></path>
                                        </svg></span></div>{{errors['data.crontime'][0]}}
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="Polaris-Button Polaris-Button--primary" @click="savecrontime()"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Save </span></span></button>
                        </div>
                    </td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">
                        <p class="">
                            {{item.display_text}}
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>

import helper from '../../helper';
import {Button, Modal} from "@shopify/app-bridge/actions";

export default {
    data(){
        return{
            errors: [],
            webhook: [],
            is_load: true,
            form:{
                user_id: '',
                crontime: '',
            }
        }
    },
    methods: {
        async getWebhook() {
            this.is_load = true;
            helper.startLoading();
            let base = this;

            await axios.get('webhook')
                .then(res => {
                    base.webhook = res.data.data.webhook;
                    base.form = res.data.data.cron;
                    console.log(base.form);
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                    helper.stopLoading();
                    this.is_load = false;
                });
        },
        async changeStatus(id){
            helper.startLoading();
            let base = this;
            await axios.get('status?id=' + id)
                .then(res => {
                    let data = res.data.data;
                    helper.successToast(data);
                    base.getWebhook();
                })
                .catch(err => {
                    helper.errorToast('ERROR');
                })
                .finally(res => {
                    helper.stopLoading();
                });
        },
        async savecrontime(){
            helper.startLoading();
            let base = this;
            await axios.post('crontime', {data: base.form})
                .then(res => {
                    let data = res.data.data;
                    helper.successToast(data);
                    base.errors = [];
                    base.getWebhook();
                })
                .catch(err => {
                    base.errors =  err.response.data;
                    console.log(base.errors);
                })
                .finally(res => {
                    helper.stopLoading();
                });
        }
    },
    created() {
        this.getWebhook();
    },
}
</script>
