// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.form-save-btn{
    margin-top: 20px;
    text-align: end;
}
.Polaris-DataTable__Cell--numeric{
    text-align: left;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-content .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8a8a8a;
    transition: .4s;
}

.switch-content .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 5px;
    background-color: #fff;
    transition: .4s;
}

.switch-content input:checked + .slider {
    background-color: #bce4b5;
}

.switch-content input:focus + .slider {
    outline: none;
}

.switch-content input:checked + .slider:before {
    transform: translateX(26px);
    background-color: #54b744;
}

.switch-content .slider.round {
    border-radius: 50px;
}

.switch-content .slider.round:before {
    border-radius: 50%;
}
.Polaris-DataTable__Cell{
    padding: 1.6rem 0 1.6rem;
}
p{
    font-size: 1.5rem;
}
.text-capitalize{
    text-transform: capitalize;
}
.crontime{
    margin-right: 20px;
}
.custom-map-check .Polaris-Choice {
    margin-top: 33px;
}
.custom-map-check .add-icon {
    margin-top: 37px;
}
.d-flex{
    display: flex;
}
.add-icon{
    cursor: pointer;
}
