<template>
    <div class="Polaris-Labelled__Error">
        <div id="PolarisTextField4Errorkey" class="Polaris-InlineError" style="font-size: 1.5rem;">
            <div class="Polaris-InlineError__Icon">
                <span class="Polaris-Icon">
                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                        <path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zm-1-8h2V6H9v4zm0 4h2v-2H9v2z" fill-rule="evenodd">
                        </path>
                    </svg>
                </span>
            </div>
            {{msg}}
        </div>
    </div>
</template>

<script>
export default {
    props: ['msg'],
    name: 'ErrorMsg'
}
</script>
